<!DOCTYPE html>
<html>
  <head>
    <title>Filch</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Filch</title>
        <meta name="description" content="The social network where you come to share your complaints">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="robots" content="all,follow">
        <!-- Bootstrap CSS-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
        <!-- Custom stylesheet - for your changes-->
        <link rel="stylesheet" href="css/custom.css">
        <!-- Tweaks for older IEs-->
        <!--[if lt IE 9]>
                <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
                <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
        <style>
                .body{
                        background-color: grey;
                }
                .jumbotron{
                        background-color:grey;
                        color:white;
                }
                .tab-content{
                        border-left:2px solid #ddd;
                        border-right:2px solid #ddd;
                        border-bottom:2px solid #ddd;
                        padding: 5px;
                }
                .nav.tabs{
                        margin-bottom:0;
                }
                .container{
                        background: lavender;
                }
        </style>
  </head>
  <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>
  <body style='background-color:blue'>
        <div class="container">
            <div class="jumbotron">
                <div class="page-header">
                    <div class="float-right"><%= image_tag('filch.png', size: '50x70') %></div>
                    
                    <h1><center>FILCH</h1>
                    <div class="btn-group btn-group-lg">
                        <button id="Home" type="submit" class="btn btn-default btn-lg" role="button"><%= link_to('Home', :root) %></button>
                        <% if user_signed_in? %>
                        <button id="profile" type="submit" class="btn btn-default btn-lg" role="button"><%= link_to current_user.name, user_path(current_user.id), class: "button is-info" %> </button>
                            <button id="Log out" type="submit" class="btn btn-default btn-lg" role="button"> <%=link_to 'Log out', destroy_user_session_path, method: :delete %></button>
                        <% else %> 
                            <button id="Sign in" type="submit" class="btn btn-default btn-lg" role="button"> <%= link_to 'Sign In', new_user_registration_path %></button> 
                            <button id="Log in" type="submit" class="btn btn-default btn-lg" role="button"> <%= link_to 'Log In', new_user_session_path %></button>
                        <% end %> 
                    </div>
                </div>
              </center>
            </div>
                
        </div>
    <div class="container">
        <%= yield %>
    </div>
    
    
  </body>
  <footer><center>
      <div class="jumbotron">
        <p>Filch has been looking around since 2019</p>
        <a href="#">Policy</a>
        <!-- JavaScript files-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
    </div></center>
  </footer>
</html>