<div class="jumbotron"><center>
  <p>
    <%= @user.name %>
  </p>

  <p>
    <%= @user.lastname %>
  </p>
  <"%= if @user.image.attachment? %">
    <"%= image_tag @user.image.variant(resize: '50x50') %">
  <"% end %">
  <p>
    <strong>Role:</strong>
    <%= @user.role %>
  </p>



  <p>
    <strong>Sex:</strong>
    <%= @user.sex %>
  </p>

  <p>
    <strong>Biography:</strong>
    <%= @user.biography %>
  </p>
  <div class="btn-group btn-group-lg">
    <div id="edit" type="submit" class="btn btn-default btn-lg" role="button"><%= link_to 'Edit', edit_user_path(@user)%></div>
    <div id="back" type="submit" class="btn btn-default btn-lg" role="button"><%= link_to 'Back', root_path %></div>
  </div>
</center></div>

