<%= form_with(model: geofence, local: true) do |form| %>
  <% if geofence.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(geofence.errors.count, "error") %> prohibited this geofence from being saved:</h2>

      <ul>
      <% geofence.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_field :address %>
  </div>

  <div class="field">
    <%= form.label :latitude %>
    <%= form.text_field :latitude %>
  </div>

  <div class="field">
    <%= form.label :longitud %>
    <%= form.text_field :longitud %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
